<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="ApollOm UI Design">
    <meta name="author" content="Nicholas Lauber">
    <link rel="icon" href="favicon.ico">

    <title>ApollOm - Event Calendar</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Full Calendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.min.css" rel="stylesheet" media='print'>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

    <script>
      $(document).ready(function() {

        $('#calendar').fullCalendar({

          customButtons: {
            add: {
              text: 'Add',
              click: function() {
                alert('You clicked the add button!');
              }
            }
          },

          header: {
            left: 'title',
            center: '',
            right: 'prev,next add today month,agendaWeek,agendaDay,listMonth'
          },

          handleWindowResize: false,
          defaultDate: '2016-11-01',
          navLinks: true, // can click day/week names to navigate views
          editable: false,
          eventLimit: true, // allow "more" link when too many events

          events: [
            {
              title: 'UNO Jazz 1',
              start: '2016-11-01T20:00:00',
              end: '2016-11-01T21:00:00'
            },
            {
              title: 'UNO Jazz 2',
              start: '2016-11-07T19:00:00',
              end: '2016-11-07T20:00:00'
            },
            {
              title: 'The SuperBytes',
              start: '2016-11-09T20:00:00',
              end: '2016-11-09T21:00:00'
            },
            {
              title: 'Kennedy Jones',
              start: '2016-11-09T21:00:00',
              end: '2016-11-09T22:00:00'
            },
            {
              title: 'Clark & Company',
              start: '2016-11-11T21:00:00',
              end: '2016-11-11T22:00:00'
            },
            {
              title: 'The Sonics',
              start: '2016-11-11T22:00:00',
              end: '2016-11-11T23:00:00'
            },
            {
              title: 'Excision',
              start: '2016-11-17T19:00:00',
              end: '2016-11-17T20:00:00'
            },
            {
              title: 'Flocian',
              start: '2016-11-17T20:00:00',
              end: '2016-11-17T21:00:00'
            },
            {
              title: '8BLOCC',
              start: '2016-11-17T22:00:00',
              end: '2016-11-17T23:00:00'
            },
            {
              title: 'The Sonics',
              start: '2016-11-22T22:00:00',
              end: '2016-11-22T23:00:00'
            },
            {
              title: 'The SuperBytes',
              start: '2016-11-26T20:00:00',
              end: '2016-11-26T21:00:00'
            }
          ]
        });
      });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="height: 100%">

    <div class="container" style="height: 100%">

      <div class="row" style="height: 80%">
        <div class="col-md-8 col-md-offset-2" style="height: 15%">
          <h1>Event Calendar</h1>
          <hr>
        </div>

        <div id='calendar' class="col-md-8 col-md-offset-2"></div>

        <div class="col-md-8 col-md-offset-2" style="height: 5%">
          <p></p>
        </div>
      </div>

      <div class="row" style="height: 5%">
        <div class="col-md-8 col-md-offset-2">
          <div class="dropdown">
            <button class="btn btn-lg btn-default btn-block dropdown-toggle" type="button" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="categories">
              <li><a href="#">All</a></li>
              <li><a href="#">Jazz</a></li>
              <li><a href="#">Rock</a></li>
              <li><a href="#">Hip-Hop</a></li>
              <li><a href="#">EDM</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <p class="lead">Please enter a artist/venue.</p>
          <form>
            <label for="inputSearch" class="sr-only">Artist/Venue</label>
            <input type="text" id="inputSearch" class="form-control" placeholder="Artist/Venue" required autofocus>

            <div class="col-md-8 col-md-offset-2">
              <p></p>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            <a href="index" class="btn btn-lg btn-default btn-block" type="button">Go Back</a>
          </form>
        </div>
      </div>

      <div class="row" style="height: 5%">
        <div class="col-md-8 col-md-offset-2">
          <hr>
          <footer>
            <p>&copy; 2016 Nicholas Lauber</p>
          </footer>
        </div>
      </div>

    </div> <!-- container -->
  </body>
</html>
